
<app-menu-superior></app-menu-superior>

<div class="container">
  <div class="conteudo">
    <div class="banner">
      <h1>Seu iPhone novo está aqui!</h1>
      <p>Compre seu iPhone aqui na Pegasus. Fale com um de nossos consultores</p>
      <button>Falar com consultor</button>
    </div>

  </div>

  <div class="blocos_secundarios">
    <div class="bloco_esquerda_secundario">
      <div class="texto_esquerda">
        <h1>iPhones Semi-novos</h1>
        <p>Compre seu iPhone semi-novo aqui na Pegasus.</p>
        <span>Falar com consultor</span>
      </div>
    </div>

    <div class="bloco_direita_secundario">
      <div class="texto_direita">
        <h1>iPhones Novos</h1>
        <p>Compre seu iPhone novo aqui na Pegasus.</p>
        <span>Falar com consultor</span>
      </div>

    </div>
  </div>

  <slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="{{ slide.alt }}">
    </div>
  </slick-carousel>

  <div class="categorias">
    <div class="titulo_categorias">
      <h1>Seu iPhone está aqui!</h1>
      <p>Compre seu iPhone aqui na Pegasus. Fale com um de nossos consultores</p>
    </div>


    <div class="categorias_itens">
      <div class="categoria_item">
        <img src="assets/imagens/iphone.png" alt="iPhone 11">
        <div class="cores">
          <div class="cor1"></div>
          <div class="cor2"></div>
          <div class="cor3"></div>
          <div class="cor4"></div>
        </div>
        <h2 class="dispositivo">iPhone 15 Pro</h2>
        <p class="armazenamento">128GB</p>
        <p class="partir">a partir de <span class="valor">1.049,90</span></p>
        <p class="parcelado">ou 10x de R$104,90 sem juros</p>
      </div>

      <div class="categoria_item">
        <img src="assets/imagens/iphone.png" alt="iPhone 11">
        <div class="cores">
          <div class="cor1"></div>
          <div class="cor2"></div>
          <div class="cor3"></div>
          <div class="cor4"></div>
        </div>
        <h2 class="dispositivo">iPhone 15 Pro</h2>
        <p class="armazenamento">128GB</p>
        <p class="partir">a partir de <span class="valor">1.049,90</span></p>
        <p class="parcelado">ou 10x de R$104,90 sem juros</p>
      </div>

      <div class="categoria_item">
        <img src="assets/imagens/iphone.png" alt="iPhone 11">
        <div class="cores">
          <div class="cor1"></div>
          <div class="cor2"></div>
          <div class="cor3"></div>
          <div class="cor4"></div>
        </div>
        <h2 class="dispositivo">iPhone 15 Pro</h2>
        <p class="armazenamento">128GB</p>
        <p class="partir">a partir de <span class="valor">1.049,90</span></p>
        <p class="parcelado">ou 10x de R$104,90 sem juros</p>
      </div>

      <div class="categoria_item">
        <img src="assets/imagens/iphone.png" alt="iPhone 11">
        <div class="cores">
          <div class="cor1"></div>
          <div class="cor2"></div>
          <div class="cor3"></div>
          <div class="cor4"></div>
        </div>
        <h2 class="dispositivo">iPhone 15 Pro</h2>
        <p class="armazenamento">128GB</p>
        <p class="partir">a partir de <span class="valor">1.049,90</span></p>
        <p class="parcelado">ou 10x de R$104,90 sem juros</p>
      </div>

      <div class="categoria_item">
        <img src="assets/imagens/iphone.png" alt="iPhone 11">
        <div class="cores">
          <div class="cor1"></div>
          <div class="cor2"></div>
          <div class="cor3"></div>
          <div class="cor4"></div>
        </div>
        <h2 class="dispositivo">iPhone 15 Pro</h2>
        <p class="armazenamento">128GB</p>
        <p class="partir">a partir de <span class="valor">1.049,90</span></p>
        <p class="parcelado">ou 10x de R$104,90 sem juros</p>
      </div>
    </div>
  </div>


  <div class="review">
    <div class="titulo_review">
      <h1>Reviews</h1>
      <p>Confira o que estão falando sobre</p>
    </div>

    <div class="blocos_review">

      <div class="bloco_review">
        <div class="conteudo_topo">
          <div class="img_topo">
            <img src="assets/imagens/homem_review.png" alt="">
          </div>
  
          <div>
            <h1>Iphone 14</h1>
            <p>lorem ipsum</p>
          </div>
        </div>
  
      </div>

      <div class="bloco_review">
        <div class="conteudo_topo">
          <div class="img_topo">
            <img src="assets/imagens/homem_review.png" alt="">
          </div>
  
          <div>
            <h1>Iphone 14</h1>
            <p>lorem ipsum</p>
          </div>
        </div>
  
      </div>

      <div class="bloco_review">
        <div class="conteudo_topo">
          <div class="img_topo">
            <img src="assets/imagens/homem_review.png" alt="">
          </div>
  
          <div>
            <h1>Iphone 14</h1>
            <p>lorem ipsum</p>
          </div>
        </div>
  
      </div>

      <div class="bloco_review">
        <div class="conteudo_topo">
          <div class="img_topo">
            <img src="assets/imagens/homem_review.png" alt="">
          </div>
  
          <div>
            <h1>Iphone 14</h1>
            <p>lorem ipsum</p>
          </div>
        </div>
  
      </div>

      <div class="bloco_review">
        <div class="conteudo_topo">
          <div class="img_topo">
            <img src="assets/imagens/homem_review.png" alt="">
          </div>
  
          <div>
            <h1>Iphone 14</h1>
            <p>lorem ipsum</p>
          </div>
        </div>
  
      </div>

    </div>

   

  </div>

</div>

<app-contato></app-contato>
<app-rodape></app-rodape>
<link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick-theme.css">

    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/slick-carousel/slick/slick.js"></script>
    <script src="../bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>