
.body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scrollbar-color: #ccc #f1f1f1; /* Cor da barra de rolagem e do fundo */
}
.tabela::-webkit-scrollbar {
    width: 8px !important; /* Largura da barra de rolagem vertical */
    height: 8px !important; /* Altura da barra de rolagem horizontal */
}

.tabela::-webkit-scrollbar-track {
    background: #f1f1f1 !important; /* Cor do fundo da barra de rolagem */
    border-radius: 20px !important; /* Bordas arredondadas do fundo */
}

.tabela::-webkit-scrollbar-thumb {
    background: #ccc !important; /* Cor da barra de rolagem */
    border-radius: 20px !important; /* Bordas arredondadas da barra */
}

.tabela::-webkit-scrollbar-thumb:hover {
    background: #aaa !important; /* Cor da barra ao passar o mouse */
}

/* Para navegadores Firefox */
.tabela {
    scrollbar-width: thin !important; /* Largura da barra de rolagem */
    scrollbar-color: #ccc #f1f1f1 !important; /* Cor da barra de rolagem e do fundo */
    border-radius: 50px !important
}

.upload {
    margin-bottom: 20px;
}

.linha-upload{
    display: flex;
    align-items: center;
}

.btn-upload, .btn-preencher, .btn-enviar {
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Mão ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave */

}

.btn-preencher, .btn-enviar{
    margin: 15px 0px 15px 15px;
}

.btn-upload:hover, .btn-preencher:hover, .btn-enviar:hover {
    background-color: #45a049; /* Verde escuro ao passar o mouse */
}

.botoes {
    display: flex;
    justify-content: flex-end;
}

.ncm-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabela {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    color: black;
    border-top: none !important; /* Remove a linha superior do cabeçalho */
}

tr:hover {
    background-color: #f1f1f1;
}

.descricao, .denominacao {
    min-width: 300px;
}

.info {
    width: 15px;
    height: 15px;
}

textarea {
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.topo-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 20px;
}

.custom-file-upload:hover {
    background-color: #f1f1f1;
    border-color: #4CAF50;
}

.custom-file-upload input[type="file"] {
    display: none; /* Oculta o input original */
}

.upload-icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.animated {
    display: none; /* Oculta o GIF por padrão */
}

.custom-file-upload:hover .animated {
    display: inline; /* Mostra o GIF ao passar o mouse */
}

.custom-file-upload:hover .static {
    display: none; /* Oculta a imagem estática ao passar o mouse */
}

@media (max-width: 600px) {
    th, td {
        font-size: 14px;
    }
}
