<app-header></app-header>
<div class="container">
  <div class="body">
    <div class="upload">
      <h1>Upar arquivo</h1>
      <div class="linha-upload">
        <label class="custom-file-upload">
          <input type="file" (change)="onFileChange($event)" />
          <img src="assets/imagens/upload-stop.png" alt="Upload" class="upload-icon static" />
          <img src="assets/imagens/upload.gif" alt="Upload" class="upload-icon animated" />
          Escolher arquivo
        </label>
      <button class="btn-upload" (click)="uploadProduto()">Upload</button>
      </div>

  </div>


    <div *ngIf="tabela">
      <div *ngFor="let ncm of produtosPorNCM | keyvalue" class="ncm-card">
        <div class="topo-card">
          <h2>NCM: {{ ncm.key }}</h2>
          <button class="btn-preencher" (click)="abrirModal(ncm.key, ncm.value)">Preencher em massa</button>
        </div>

        <div class="tabela">
          <table>
            <colgroup span="8"></colgroup>
            <tr>
              <th>Seq</th>
              <th class="denominacao">Denominação</th>
              <th class="descricao">Descrição</th>
              <th>Modalidade</th>
              <th>NCM</th>
              <th>CPF/CNPJ</th>
              <th>Situação</th>
              <th>Códigos Internos</th>
              <th *ngFor="let atributo of ncm.value[0]?.atributos">{{ atributo.nome }} 
                <img src="assets/imagens/info.svg" alt="" class="info" mat-raised-button 
                    #tooltip="matTooltip" [matTooltip]="atributo?.orientacao">
              </th>
            </tr>
            <tr *ngFor="let produto of ncm.value">
              <td>{{ produto.seq }}</td>
              <td>
                <textarea [(ngModel)]="produto.denominacao" placeholder="Denominação" rows="4"></textarea>
                <div *ngIf="produto.denominacao?.length > 100" class="error-message">
                  O campo Denominação do produto deve ser menor ou igual a 100 caracteres.
                </div>
              </td>
              <td>
                <textarea [(ngModel)]="produto.descricao" placeholder="Descrição" rows="4"></textarea>
              </td>
              <td>
                <select [(ngModel)]="produto.modalidade">
                  <option *ngFor="let mod of modalidades" [value]="mod">{{ mod }}</option>
                </select>
              </td>
              <td>{{ produto.ncm }}</td>
              <td>
                <input [(ngModel)]="produto.cpfCnpjRaiz" placeholder="CPF/CNPJ" />
              </td>
              <td>
                <select [(ngModel)]="produto.situacao">
                  <option *ngFor="let sit of situacoes" [value]="sit">{{ sit }}</option>
                </select>
              </td>
              <td>{{ produto.codigosInterno.join(', ') }}</td>
              <td *ngFor="let atributo of produto.atributos">
                <ng-container *ngIf="atributo.forma == 'BOOLEANO'; else inputTemplate">
                  <select [(ngModel)]="atributo.valor">
                    <option [ngValue]="true">Sim</option>
                    <option [ngValue]="false">Não</option>
                  </select>
                </ng-container>
                <ng-template #inputTemplate>
                  <ng-container *ngIf="atributo.opcoes?.length > 0; else defaultInput">
                    <select [(ngModel)]="atributo.valor">
                      <option *ngFor="let opcao of atributo.opcoes" [ngValue]="opcao.valor">
                        {{ opcao.descricao }}
                      </option>
                    </select>
                  </ng-container>
                  <ng-template #defaultInput>
                    <input [(ngModel)]="atributo.valor" placeholder="Valor" />
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </table>
        </div>

        <div class="botoes">
          <button class="btn-enviar" (click)="enviarProdutos(ncm.key)">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
