<div class="container">
  <div class="conteudo">
    <div class="logo" >
      <img src="assets/imagens/logo.png" alt="logo para desktop" class="desktop" routerLink="/home">
      <img src="assets/imagens/logo_celular.png" alt="logo para celular" class="celular" routerLink="/home">
    
    </div>


    <div class="menu">
      <!-- menu hamburguer caso seja celular -->
      <div class="menu_hamburguer">
        <button mat-button [matMenuTriggerFor]="menu" class="botao-menu"><mat-icon>menu</mat-icon>
        </button>
      </div>

      <ul class="menu_desk">
        <li><a routerLink="/home">Home</a></li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="botao-menu">Produtos</button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let categoria of categorias | keyvalue">
              <button mat-menu-item [matMenuTriggerFor]="submenu" (click)="redirecionaCategoria(categoria.key)">{{categoria.key}}</button>
              <mat-menu #submenu="matMenu">
                <button mat-menu-item *ngFor="let subcategoria of categoria.value" (click)="redirecionaProduto(subcategoria.id)">{{subcategoria.nome}}</button>
              </mat-menu>
            </ng-container>
          </mat-menu>
        </li>
        <li><a >Contato</a></li>
      </ul>
    </div>

    
  </div>


</div>