@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

.logo img{
    width: 155px;
    cursor: pointer;
}

.botao-menu{
    background-color: transparent;
    color: white;
    border: none;
}

.container{
    background: #121212;
    height: 80px;
}

.conteudo{
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;

}

.menu ul li button{
    cursor: pointer;
}

.celular{
    display: none;
}

@media screen and (max-width: 768px){
    .container{
        height: 44px;
    }
    
    .celular{
        display: block;
    }

    .logo img{
        width: unset;
    }

    .menu ul li{
        font-size: 14px;
    }
    

    .desktop{
        display: none;
    }
}

::ng-deep mat-mdc-menu-item mat-mdc-focus-indicator ng-tns-c185672549-34{
    padding: 10px !important;
}