@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container{
  max-width: 100% !important;
}

.titulo{
  padding-right: 50px !important;
}

.categoria_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .categoria_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .categoria_item img {
    width: 112px;
  }
  
  .cores {
    gap: 6px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  .cor_1{
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
  
  .dispositivo {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .armazenamento {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 8px;
  }
  
  .valor {
    font-size: 18px;
    font-weight: 700;
    color: #0094FF;
  }
  
  .partir, .parcelado {
    color: #656565;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
  }
  
  .partir {
    margin-bottom: 8px;
  }
  
  .mac{
    width: 100% !important;
    max-width: 200px !important;
  }

  @media screen and (max-width: 768px){
    .categoria{
      display: none !important;
    }

    .cont{
      justify-content: center !important;
      text-align: center;
    }
  }