<app-menu-superior></app-menu-superior>

<div class="container flex cont">
  <div class="bg-gray-200 h-screen categoria">
    <h2 class="text-xl font-bold p-4 titulo">Categorias</h2>
    <ul class="p-4">
      <li class="mb-2.5 text-xl" *ngFor="let item of categorias" >
        <a class="text-blue-500 hover:underline" (click)="recebeProdutos(item)">{{item | titlecase}}</a>
      </li>
    </ul>
  </div>
  <div class="w-3/4 p-8">
    <h1 class="text-3xl font-bold mb-8">{{categoria | titlecase}}</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6" >
      <div class="bg-white rounded-lg shadow-lg p-4 categoria_item img_celular" *ngFor="let item of produtos" (click)="redirecionarParaOproduto(item.id)">
        <img [src]="item.miniatura" alt="Produto" [ngClass]="{'mac': item.categoria == 'macbook'}">
        <div class="cores">
          <div class="cor_1" *ngFor="let item of item.cores" [style.background-color]="item.hexadecimal"></div>

        </div>
        <h2 class="dispositivo">{{ item.nome }}</h2>
        <p class="partir"><span class="valor">{{item.preco}}</span></p>
        <p class="parcelado">ou 10x de {{ formatarParcelado(item.preco) }}</p>
      </div>
    </div>


  </div>
</div>

<app-rodape></app-rodape>
