<app-menu-superior></app-menu-superior>
<div class="container">
    <div class="conteudo">

        <div class="produto">
            <p class="categoria">Home > {{produto?.nome}}</p>
            <div class="info_produto">
                <div class="fotos_produtos">
                    <div class="foto_principal">
                        <img [src]="imagemPrincipal" alt="">
                    </div>

                    <div class="miniaturas">
                        <img [src]="item" alt="" *ngFor="let item of produto?.imagens" (click)="mudarFotoPrincipal(item)"> 
                    </div>
                </div>

                <div class="desc_produto">
                    <h1 class="titulo">{{produto?.nome}}</h1>
                    <button class="desconto">-{{produto?.desconto}}%</button>
                    <p class="valor"><span>R${{produto?.preco}}</span> no PIX</p>
                    <p class="parcelado">ou <b>10x</b> de <b>R$104,90</b> sem juros</p>

                    <div class="cor">
                        <p>Cor</p>
                        <div class="cores">
                            <div class="cor_1" *ngFor="let item of produto?.cores" [style.background-color]="item?.hexadecimal"></div>

                        </div>
                    </div>

                    <div class="armazenamento" *ngIf="produto?.armazenamento != ''">
                        <p>Armazenamento:</p>
                        <div class="armazenamento_opcoes">
                            <button class="opcao" *ngFor="let item of produto?.armazenamento">{{item}}</button>
                        </div>
                    </div>

                    <!-- <div class="prazo">
                        <p>Calcular o prazo de entrega</p>
                        <input type="text" placeholder="Insira seu CEP">
                    </div>
                         -->
                    <button class="consultor">Falar com consultor</button>

                    <div class="detalhes">
                        <h1>Detalhes do produto</h1>
                        <p>{{produto?.descricao}}</p>
                    </div>

                </div>
            </div>
        </div>


        <div class="produtos_relacionados" >
            <h1>Produtos relacionados</h1>
            <p class="desc_relacionados">Compre seu iPhone aqui na Pegasus. Fale com um de nossos consultores</p>


            <p-carousel [value]="produtos" [numVisible]="5" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item" >
                  <div class="categoria_item img_celular" (click)="redirecionarParaOproduto(item.id)" >
                    <img  [src]="item.miniatura">
                    <div class="cores_categoria">
                        <div class="cor_1_categoria" *ngFor="let i of item.cores" [style.background-color]="i.hexadecimal"></div>
                    </div>
                    <h2 class="dispositivo">{{ item.nome }}</h2>
                    <p class="armazenamento_categoria">{{ maiorArmazenamento([item]) }}</p>
                    <p class="partir_categoria">a partir de <span class="valor_categoria">{{ item.preco }}</span></p>
                    <p class="parcelado_categoria">ou 10x de {{ formatarParcelado(item.preco) }}</p>
                  </div>
                </ng-template>
              </p-carousel>
        </div>
        
    </div>
</div>

<app-contato></app-contato>
<app-rodape></app-rodape>
